<form id="searchForm" action="<%= drinks_url %>" method="get">
  <div class="form-group col-sm-4 col-sm-offset-2">
    <div class="input-group input-group-lg">
      <input autofocus="true" type="text" class="form-control" placeholder="Find a cocktail" id="search" name="search">
      <span class="input-group-addon btn"><span class="glyphicon glyphicon-search"></span></span>

    </div>
  </div>
</form>