<form id="searchForm" action="<%= drinks_url %>" role="search">
  <input type="text" name="search" id="search_box2" 
    placeholder="Find a cocktail!">
    <script>
      var temp = $("#drink-list")[0].attributes.special.value;
      $('#search_box2').typeahead({
        name: 'people',
        local: JSON.parse(temp)
      });
    </script>
  <button type="submit" class="btn btn-sm btn-primary" value="Search" style="margin-top: 17px"><i class="fa fa-search fa-2x"></i></button>
</form>
