<table class="table" style="border: none">
	<h3 align="right" style="padding-bottom: 5px">all reviews</h3>
	<% @drink.comments.order('rating asc').each do |comment| %>
		<tr>
			<td>
				<% comment.rating.times do %>
					<i class="fa fa-star main-color"></i>
				<% end %>
				<br>
				<p>
					<%= comment.body %>
				</p>

				<em class="pull-right"><%= link_to User.find(comment.author_id).email, user_url(User.find(comment.author_id)) %></em>

			</td>
		</tr>
	<% end %>
</table>



