<% action = (flag == :new) ? drinks_url : drink_url %>
<% method = (flag == :new) ? "POST" : "PATCH" %>
<% message = (flag == :new) ? "Add Drink" : "Edit Drink" %>

<form action="<%= action %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="<%= method %>">

	<label>Name
		<input type="text" name="drink[name]">
	</label>
	<br>

	<label>Description
		<input type="text" name="drink[description]">
	</label>
	<br>
	
	<input type="submit" value="<%= message %>">
</form>