<ul class="thumbnails" id="hover-cap-4col" style="margin-left: 0; padding-left: 0" >
	<% @related_drinks.each do |drink| %>
		<li class="col-xs-4" style="list-style:none; margin-left:0px">
		  <div class="thumbnail small-box">
		    <%= filepicker_image_tag drink.filepicker_url, w: 250, h: 250 %>
		    
		    <h4 align="center"><%= link_to drink.name, drink %></h4>
		    
		    <center>
			    <strong rel="tooltip" title="<%= drink.average %> Rating" data-placement="right">
	        	<% drink.average.floor.times do %>
							<i class="fa fa-star main-color"></i>
						<% end %>
						<% remainder = drink.average %>

						<% while remainder >= 1 %>
							<% remainder -= 1 %>
						<% end %>
						<% if remainder >= 0.5 %>
							<i class="fa fa-star-half main-color"></i>
						<% end %>
					</strong>
				</center>
		  </div>

			<div class="spacer"></div>
		</li>
	<% end %>
</ul>
