<h1>Listing drinks</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <%= render drink %>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Drink', new_drink_path %>

<% if logged_in? %>
  <!-- Button trigger modal -->
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addDrinkModal">
    Add Drink
  </button>
<% end %>