<h1>Listing drinks</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <%= render drink %>
    <% end %>
  </tbody>
</table>