<!-- <div class="row">
  <div class="span6 offset3">
    <div class="well">
      <h1><%#= @drink.name %></h1>
      <%# if current_user == @drink.user %>
        <%#= link_to 'Edit', edit_drink_url(@drink) %> |
      <%# end %>
      <%#= link_to 'Back', drinks_path %>
    </div>
  </div>
</div> -->