
<% @users = @user.followers %>
<% if @users.any? %>
    <% @users.each do |user| %>
      <p>
      	<%= link_to gravatar_for(user, size: 35), user %> <br>
      	<%= link_to user.email, user %> 
      </p>
			<hr>
    <% end %>
<% end %>
