<!-- <form action="<% users_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<div class="input-group">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
	  <input autofocus="true" type="text" class="form-control" name="user[email]" placeholder="Enter Email">
	</div>
	
	<br>

	<div class="input-group">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
	  <input type="password" class="form-control" name="user[password]" placeholder="Enter password">
	</div>
	
	<br>

	<input type="submit" value="Sign Up" class="btn btn-primary">
</form> -->

<form action="<%= users_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="username">Username: </label>
	<input type="text" name="user[email]" id="username">

	<label for="password">Password: </label>
	<input type="password" name="user[password]" id="password">
	
	<input type="submit" value="Sign Up">
</form>