<div class="modal fade" id="modal-window2">
  <div class="modal-dialog modal-sm ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div id="sign-up">
          <h2 align="center">Sign Up</h2>
          <hr>
          <form action="<%= users_url %>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

						<div class="input-group">
						  <span class="input-group-addon"><i class="fa fa-user"></i></span>
						  <input autofocus="true" type="text" class="form-control" name="user[email]" placeholder="Enter Email">
						</div>
						
						<br>

						<div class="input-group">
						  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
						  <input type="password" class="form-control" name="user[password]" placeholder="Enter Password">
						</div>
						
						<hr>
						<center>
							<input type="submit" value="Sign Up" class="btn btn-primary">
						</center>

					</form>
        </div>
      </div>
    </div>
  </div>
</div>
