<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<h1>Edit Profile</h1>
			<hr>
			<form action="<%= user_url(current_user) %>" method="post">
				<input type="hidden" name="_method" value="PATCH">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-user"></i></span>
				  <input autofocus="true" type="text" class="form-control" name="user[email]" placeholder="Enter Email"
				  value="<%= current_user.email %>">
				</div>
				
				<br>

				<div class="input-group">
				  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
				  <input type="password" class="form-control" name="user[password]" placeholder="Enter Password">
				</div>
				
				<hr>

				<input type="submit" value="Edit User" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>