<% var current_user_id = +$("#current-user-id").attr("value") %>

<a href="#/new" class="btn btn-primary"><span class="glyphicon glyphicon-glass"></span>Add Drink</a>
<hr>
<ul>
  <% drinks.each(function (drink) { %>
    <li>

      <a href="#/<%= drink.id %>"><%= drink.escape("name") %></a>
	    
	    <!-- only show delete/edit buttons for drink authors -->
	    <% if(current_user_id === drink.get('user_id')) { %>
	      <button class="delete" data-id="<%= drink.id %>">Delete!</button>
	      <a href="#/<%= drink.id %>/edit">Edit</a>
      <% } %>
    </li>
  <% }); %>
</ul>
