<h1><%= drink.escape('name') %></h1>

<p>
	<%= drink.escape('description') %>
</p>

<button id="add-favorite" class="" data-id="<%= drink.id %>">Add To Favorites</button>
<button id="remove-favorite" class="hidden" data-id="<%= drink.id %>">Remove From Favorites</button>

<br>

<a href="#/">Index</a>