<form class="navbar-form navbar-left" action="<%= drinks_url %>" role="search">
  <input type="text" name="search" id="search_box" 
    placeholder="Find a cocktail!">
    <script>
      var temp = $("#drink-list")[0].attributes.special.value;
      $('#search_box').typeahead({
        name: 'people',
        local: JSON.parse(temp)
      });
    </script>
  <button type="submit" class="btn btn-sm" value="Search" style="height: 25px; margin-top: 5px; padding-bottom: 20px"><i class="fa fa-search main-color"></i></button>
</form>

